* {
  font-family: 'Anton', sans-serif;
}

#fondo-prueba {
  /* background-image: url(/Images/bg-image.jpg); */
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/Images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-km {
font-size: 100px;
transition: all 0.3s;
}

.text-km-p {
  font-size: 40px;
  transition: all 0.3s;

  }

.text-km:hover {
  transform: scale(1.15);
}

.text-km-p:hover {
  transform: scale(1.15);
}

.hoveremblematicos {
  transition: all 0.3s;
}

.hoveremblematicos:hover{
  transform: scale(1.15);
  text-decoration: black;
}

.colorfondosectionorganiza {
  background-color: rgb(214, 214, 214);
}

.hoverlogos {
  transition: all 0.3s;
}

.hoverlogos:hover{
  transform: scale(1.15);
  -webkit-transform: rotate(10deg) scale(1.15);
}

.piazaFiat {
  background-image: url(/Images/sorteoauto.png);
  width: 100%;
  height: 530px;
  background-size: cover;
}

@media (max-width: 500px) 
{
  .piazaFiat {
    background-image: url(/Images/sorteoauto-celular.png);
    width: 100%;
    height: 350px;
  } 
}

/* .holacomodando {
  padding-left: 230px;
  padding-top: 400px;
} */

.autodefrente {
  padding-left: 150px;
  padding-top: 230px;
  padding-bottom: 30px;
  transition: all 0.3s;
}

.autocostado {
  padding-left: 0px;
  padding-top: 250px;
  padding-bottom: 30px;
  transition: all 0.3s;
}

.autodefrente:hover {
  transform: scale(1.10);
}

.autocostado:hover {
  transform: scale(1.10);
}

.logonavbar {
  height: 70px;
}

.colorfooter {
  background-color: rgb(173, 173, 173);
}

.iconsredsocial {
  font-size: 50px;
  color: black;
}

.logopublicidad {
  transition: all 0.3s;
}

.logopublicidad:hover {
  transform: scale(2.00);
}

.cardsremerahover {
  transition: all 0.3s;
}

.cardsremerahover:hover {
  transform: scale(1.1);
}

.mapitagoogle {
  height: 500px;
}